/* ------ COMPONENTS : CONTAINERS ------ */

.main-container {
  width: 90vw;
  max-width: 1280px;
  margin: auto;
}

.fullwidth-container {
  width: 100vw;
  padding: 4vw;
}


@media (min-width: $sm-screen) {
} // end of sm-screen - 768px

@media (min-width: $md-screen) {
} // end of md-screen - 992px

@media (min-width: $lg-screen) {
  .main-container {
    width: 86vw;
  }

} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px

