/* ------ VARIABLES : COLORS ------ */

// $dark-gray: #404040;

$dark-blue: #242933;
$teal-blue: #97C4BF;
$golden-taupe: #BC9B77;
$corail: #C95E64;

$gray-blue: #565A63;
$medium-gray: #93979F;
$light-gray: #CACBCC;
