/* ------ LAYOUTS : GENERAL ------ */

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  // cursor: url('../images/cdltbisou_cursor-1.svg'), auto;
  // cursor: -webkit-image-set(url("../images/cdltbisou_cursor-1.svg") 1x, url("../images/cdltbisou_cursor-1@2x.svg") 2x) 0 0, pointer;
}

body {
  font-size: 62.5%;
  color: $gray-blue;
  font-family: $body-font;
  line-height: 1.25;
}

img {
  display: block;
  width: 100%;
  max-width: 100vw;
  margin: auto;
}

::selection {
  background:$teal-blue;
}


@media (min-width: $sm-screen) {
} // end of sm-screen - 768px

@media (min-width: $md-screen) {
} // end of md-screen - 992px

@media (min-width: $lg-screen) {

} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px
